/* общие свойства */

.hidden {
    display: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    outline: 2px solid red;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

hr {
    height: 2px;
    width: 900px;
    margin: 0 auto;
    color: #eeeeee;
}

/* шапка сайта */

.page-header {        
    outline: 2px solid green;
    min-height: 330px;
}

.main-page-header {
    min-height: 327px;
}

.header-top {
    min-height: 130px;
    outline: 2px solid blue;
    text-align: justify;
}

.header-top h1 {
    display: inline-block;
    outline: 2px solid yellow;
    margin: 25px 10px;
    vertical-align: middle;
}

.main-menu {
    display: inline-block;
    outline: 2px solid yellow;
    width: 75%;
    margin: 25px 10px;
    vertical-align: middle;
    text-align: right;
}
 
.main-menu li {
    display: inline-block;
    vertical-align: middle;
}

.main-menu li {
    margin: 0 20px;
}

/* карусель */

.slider {
    min-height: 320px;
}

.slide {
    display: none;
    padding-right: 70%;
}

.slider .current {
    display: block;
}

/* предложения услуг */

.offers {
    display: flex;
    justify-content: space-between;
    min-height: 460px;
    outline: 2px solid green;
}

.offer { 
    text-align: center;
    height: 100%;
}

/* описание студии */

.studio-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    outline: 2px solid green;
}

.logo-mini {
    outline: 2px solid blue;
    width: 33.3%;
    text-align: center;
}

.description-heading {   
    width: 66.6%;
    min-height: 250px;
    outline: 2px solid blue;
}

.description-left-column {
     outline: 2px solid blue;    
     width: 66.6%;
     min-height: 220px;
}

.description-right-column {
     outline: 2px solid blue;
     width: 33.3%;
}

/* спонсоры */

.external-links {
    outline: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 170px;
}

.external-links a {
    margin: 0 15px;
    opacity: 0.3;
}

.external-links a:hover,
.external-links a:active {
    opacity: 1;
}

/* карта и всплывающее окно */

.map {
    height: 415px;
    margin-top: 85px;
    outline: 2px solid green;
    border-top: 1px solid transparent;
}

.studio-address {    
    width: 255px;
    box-sizing: border-box;
    margin-top: 88px;
    margin-left: 108px;
    outline: 2px solid blue;
}

.popup-wrapper {
    position: relative;
}

.popup-write {
    position: absolute;
    top: -450px;
    left: 50%;
    transform: translateX(-50%);
    width: 630px;
    height: 415px;
    outline: 2px solid blue;
}

.inner .popup-wrapper {
    position: static;
}

.inner .popup-write {
    top: 276px;
}

/* подвал */

.page-footer {
    min-height: 215px;
    outline: 2px solid green;
}

.page-footer .discont {
    float: right;
    margin-right: 20px;
    margin-top: 75px;
    outline: 2px solid blue;
}

.socials {
    float: left;
    max-width: 250px;
    margin-top: 75px;
    outline: 2px solid blue;
    
}

.socials a {
    outline: 2px solid gray;
    display: inline-block;
    width: 60px;
    height: 60px;
}


/* каталог */

.header-top h2 {
    margin-bottom: 0; /* убирает зазор под шапкой */
}

.inner main {
    display: flex;
}

.filter {
    width: 300px;
    outline: 2px solid blue; 
    margin: 75px 80px 80px 0;
}

.stuff-catalog {
    flex-grow: 1;
    outline: 2px solid blue;
    margin-top: 75px;
}

.stuff-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 80px 0;
    outline: 2px solid yellow;
}

.stuff-items .item {
    width: 245px;
    height: 270px;
    border: 2px solid purple;
}
