.hidden {
    display: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    outline: 2px solid red;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

/* шапка сайта */

.page-header {        
    outline: 2px solid green;
}

.main-page-header {
    min-height: 327px;
}

.header-top {
    min-height: 130px;
    outline: 2px solid blue;
    text-align: justify;
}

.header-top h1 {
    display: inline-block;
    outline: 2px solid yellow;
    margin: 25px 10px;
    vertical-align: middle;
}

.main-menu {
    display: inline-block;
    outline: 2px solid yellow;
    width: 75%;
    margin: 25px 10px;
    vertical-align: middle;
    text-align: right;
}
 
.main-menu li {
    display: inline-block;
    vertical-align: middle;
}

.main-menu li {
    margin: 0 20px;;
}

/* карусель */

.slider {
    min-height: 320px;
}

.slide {
    display: none;
    padding-right: 70%;
}

.slider .current {
    display: block;
}

/* предложения услуг */

.offers {
    display: flex;
    justify-content: space-between;
    min-height: 460px;
    outline: 2px solid green;
}

.offer { 
    text-align: center;
    height: 100%;
}

/* описание студии */

.studio-description {
    display: table;
    outline: 2px solid green;
}

.description-row {
    display: table-row;
}

.logo-mini {
    display: table-cell;
    outline: 2px solid blue;
    width: 33%;
    text-align: center;
}

.description-heading,
.description-left-column {
    display: table-cell;
    width: 66%;
    outline: 2px solid blue;
}

.description-right-column {
    display: table-cell;
    width: 33%;
    outline: 2px solid blue;
}